<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="header.html"/>

</head>
<body>
<br>
<div class="container">
    <!--On affiche les livres avec le titre, nombre de pages, l'auteur et l'image de couverture-->
    <div class="row justify-content-center">

        <div id="cardBook" class="col-6">
            <div th:each="book : ${book}">
                <p th:text="${book.title}"></p>
                Date de publication : <p th:text="${#dates.format(book.pubDate, 'dd-MM-YYYY')}"></p>
                <p th:text="${book.synopsis}"></p>
            </div>
        </div>

        <div id="imgBook" class="col-4">
            <img id="imageBook" th:src="@{|/img/${book.cover}.jpeg|}" height="400" class="card-img-top" alt="Livre"/>
        </div>
    </div>

    <br>

    <div class="row justify-content-center">
        <div class="col-6">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Nombre d'exemplaire</th>
                    <th scope="col">Format</th>
                    <th scope="col">Bibliothèque</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="copy : ${copy}">
                    <tr>
                        <td><span th:text="${copy.numberCopy}"></span></td>
                        <td><span th:text="${copy.format}"></span></td>
                        <td><span th:text="${copy.library.nom}"></span></td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>

</div>
<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" media="all">
<footer th:insert="footer.html"/>
</body>
